<div class="center-content">
  <div class="center-content-gap">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="name">
    </mat-form-field>
    <p>{{ name.value }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput [formControl]="email">
    </mat-form-field>
    <p>{{ email.value }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Nro. de Telefono</mat-label>
      <input matInput [formControl]="phoneNumber">
    </mat-form-field>
    <p>{{ phoneNumber.value }}</p>
    <button mat-raised-button color="primary" (click)="sendValues()">Enviar</button>
  </div>
</div>
